.main-wrapper > main {
  margin: 0 0 0 0;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBannerLogo {
  max-width: 120px;
  max-height: 120px;
}

.heroButtons {
  display: flex;
  justify-content: center;
}

.featureBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureImage {
  align-items: center;
  max-height: 128px;
}

.usedBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.usedBy > a > img {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: .75rem;
  max-width: inherit;
  width: 6rem;
}